@font-face {
    font-family: '衡山毛筆フォント';
    src: url('KouzanBrushFont.ttf') format('truetype');
  }

#bg-container {
    background-image: url('matsuri-background.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% auto;
    background-color:rgba(255,255,255,0.84);
    background-blend-mode:lighten;
    height: 800px;
}

#result {
    font-family: '衡山毛筆フォント';
    text-shadow:
      0.2px 0 0 black,
      -0.2px 0 0 black,
      0 0.2px 0 black,
      0 -0.2px 0 black;
    padding :10px;
    font-size: 30px;
  }
