@font-face {
    font-family: '衡山毛筆フォント';
    src: url('KouzanBrushFont.ttf') format('truetype');
  }

body {
    background-image: url('matsuri-background.png')
}

#result {
    font-family: '衡山毛筆フォント';
    text-shadow:
      0.2px 0 0 black,
      -0.2px 0 0 black,
      0 0.2px 0 black,
      0 -0.2px 0 black;
    padding :10px;
    font-size: 30px;
  }
